.zen {
  h1 {
    margin: 0 0 16px;
  }

  div {
    margin: 4px 0;
    padding: 24px 0;

    &:first-child {
      margin-top: 0;
    }
  }
}

li {
  margin: 12px 0;
}

i {
  &::before {
    padding: 0 8px;
  }
  margin: 0 12px;
}

a {
  &.get_new {
    margin: 20px 0
  }
}

.submit_zens {
  max-width: 650px;
  margin: 0 auto;
}

form {
  max-width: 100%;
}