@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:700);
@import url(http://fonts.googleapis.com/css?family=Arvo:700);
@import url(http://fonts.googleapis.com/css?family=Lato:700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

.font-bg-1 {
  h1 {
    font-family: 'Open Sans', sans-serif;
  }
  color: white;
  background: #E84C3D;
}

.font-bg-2 {
  h1 {
    font-family: 'Josefin Slab', serif;
  }
  color: white;
  background: #2DCC70;
}


.font-bg-3 {
  h1 {
    font-family: 'Arvo', serif;
  }
  color: white;
  background: #34495E;
}


.font-bg-4 {
  h1 {
    font-family: 'Lato', sans-serif;
  }
  color: white;
  background: #E84C3D
}


.font-bg-5 {
  h1 {
    font-family: 'Droid Sans', sans-serif;
  }
  color: white;
  background: #F1C40F;
}


.font-bg-6 {
  h1 {
    font-family: 'Abril Fatface', serif;
  }
  color: white;
  background: #8D44AD;
}
